<div class="w3-panel w3-card-2">
    <div class="w3-container w3-teal w3-panel w3-card-2">
        <h2>Paketgröße</h2>
    </div>

    <form class="w3-container" name="parcel-size" data-ng-submit="$ctrl.getGirthSize()">
        <label>Länge</label>
        <input name="length" class="w3-input" type="number" data-ng-model="$ctrl.size.length" min="0"
               required>
        <label>Breite</label>
        <input name="width" class="w3-input" type="number" data-ng-model="$ctrl.size.width" min="0"
               required>
        <label>Tiefe</label>
        <input name="height" class="w3-input" type="number" data-ng-model="$ctrl.size.height" min="0"
               required>
        <p>
        <div class="w3-row">
            <div class="w3-half">
                <button class="w3-btn w3-blue-grey" type="submit">Größe berechnen</button>
            </div>
            <div class="w3-half">
                <label>Gurtmass</label>
                <input class="w3-input" type="text" data-ng-model="gurtmass" disabled>
            </div>
        </div>
        </p>
    </form>
</div>